@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "open sans";
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}
:root {
  --text-color: #fff;
  --bg-color: #000;
  --main-color: #ffa343;

  --h1-font: 6rem;
  --h2-font: 3rem;
  --p-font: 1rem;
}
body {
  color: var(--text-color);
  background: var(--bg-color);
}

/* Header Section */

header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  background: transparent;
  padding: 27px 17%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;
}
.logo {
  font-size: 30px;
  color: var(--text-color);
  font-weight: 700;
}
span {
  color: var(--main-color);
}
.navbar {
  display: flex;
}
.navbar .Link {
  color: var(--text-color);
  font-size: var(--p-font);
  font-weight: 500;
  margin: 15px 20px;
  transition: all 0.5s ease;
}
.Link:hover {
  color: var(--main-color);
}
.h-right {
  display: flex;
  align-items: center;
}

.h-right .Link {
  color: var(--text-color);
  font-size: var(--p-font);
  margin-right: 20px;
}
.h-right .Link:hover {
  color: var(--main-color);
  transform: translateY(-3px);
  transition: all 0.5s ease;
}
.icon {
  vertical-align: middle;
  font-size: 20px;
  color: var(--text-color);
  margin-right: 15px;
  margin-left: 5px;
  transition: all 0.5s ease;
}
.icon:hover {
  color: var(--main-color);
}
.h-right li {
  transition: all 0.3s ease;
}
.h-right li:hover {
  transform: translateY(-3px);
}
#menu-icon {
  color: var(--text-color);
  font-size: 30px;
  cursor: pointer;
  z-index: 1001;
  display: none;
}

/* All Section */

section {
  padding: 70px 17% 60px;
}

/* Homes Section */

.homes {
  position: relative;
  height: 100vh;
  width: 100%;
  background-position: bottom center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.homes-text h5 {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: var(--main-color);
}
.homes-text h1 {
  font-size: var(--h1-font);
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 20px;
}
.homes-text p {
  font-size: var(--p-font);
  color: #ffffffab;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 35px;
}
.btn-link {
  color: var(--bg-color);
  padding: 13px 40px;
  transition: all 0.4s ease;
}
.btn {
  display: inline-block;
  padding: 13px 0px;
  background-color: var(--main-color);
  color: var(--bg-color);
  font-size: 15px;
  font-weight: 600;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: all 0.4s ease;
  cursor: pointer;
}
.btn:hover {
  transform: translateX(10px);
  border: 2px solid var(--text-color);
  background: transparent;
}
.btn-link:hover {
  color: var(--text-color);
}

/* Featured Section */

.feature-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  align-items: center;
  text-align: center;
  gap: 3rem;
}
.row-img {
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-bottom: 20px;
  border-radius: 50%;
}
.row-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  transition: transform 0.7s;
}
.row-img img:hover {
  transform: scale(1.2);
}
.feature-content h4 {
  font-size: 17px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.5s ease;
}
.feature-content h4:hover {
  color: var(--main-color);
}

/* Holiday Section */

.holiday {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 9rem;
}
.holiday-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.holiday-text h5 {
  font-size: 22px;
  font-weight: 600;
  color: var(--main-color);
  letter-spacing: 6px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.holiday-text h2 {
  line-height: 1.2;
  font-weight: 800;
  font-size: var(--h2-font);
  margin-bottom: 25px;
}
.holiday-text p {
  font-size: var(--p-font);
  font-weight: 500;
  line-height: 30px;
  color: #ffffffab;
  margin-bottom: 35px;
}

/* Tour Section */

.tour {
  margin-top: 2rem;
}
.center-text {
  text-align: center;
}
.center-text h2 {
  font-size: var(--h2-font);
  font-weight: 800;
}
.tour-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}
.box {
  position: relative;
}
.box img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  filter: brightness(70%);
  transition: all 0.3s cubic-bezier(0.499, 0.05, 0.55, 0.95);
  will-change: filter;
  display: block;
}
.box h6 {
  position: absolute;
  left: 25px;
  font-size: 18px;
  bottom: 95px;
  font-weight: 500;
}

.box h4 {
  position: absolute;
  left: 25px;
  font-size: 20px;
  bottom: 65px;
  font-weight: 700;
}
.box img:hover {
  filter: brightness(90%) hue-rotate(50deg);
  transform: scale(1.04);
  cursor: pointer;
}
.center-btn {
  text-align: center;
  margin-top: 4rem;
}

/* Culture Section */

.culture {
  padding-top: 7rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 9rem;
}
.culture-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.culture-text h5 {
  font-size: 22px;
  font-weight: 600;
  color: var(--main-color);
  letter-spacing: 6px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.culture-text h2 {
  line-height: 1.2;
  font-weight: 800;
  font-size: var(--h2-font);
  margin-bottom: 25px;
}
.culture-text p {
  font-size: var(--p-font);
  font-weight: 500;
  line-height: 30px;
  color: #ffffffab;
  margin-bottom: 35px;
}

/* Nesletter form */

.newsletter {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.newsletter-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}
.newsletter-text h2 {
  font-size: var(--h2-font);
  margin-bottom: 15px;
  font-weight: 800;
}
.newsletter-text p {
  font-size: var(--p-font);
  font-weight: 500;
  color: #ffffffab;
}
.newsletter-content form {
  display: grid;
  grid-template-columns: 1fr 0.4fr;
  gap: 1rem;
}
.newsletter-content form input {
  padding: 15px;
  background: #202020;
  font-size: var(--p-font);
  color: var(--text-color);
  border-radius: 5px;
}

/* Footer Section */

footer {
  padding: 70px 17% 60px;
}
.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  align-items: center;
  gap: 2rem;
}
.footer-box {
  display: flex;
  flex-direction: column;
}
.footer-box h3 {
  font-size: 20x;
  font-weight: 600;
  margin-bottom: 15px;
}
.footer-box p {
  width: 40%;
  /* background-color: #ffa343; */
  display: inline;
  color: #979797;
  margin-bottom: 0.8rem;
  transition: all 0.5s ease;
}
.footer-box p:hover {
  transform: translateX(-5px);
  color: var(--text-color);
  cursor: pointer;
}
.footer .social {
  display: flex;
}
.footer .social .icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #202020;
  height: 45px;
  width: 45px;
  color: var(--text-color);
  font-size: 20px;
  margin-left: 8px;
  border-radius: 50%;
  transition: transform 0.6s;
  /* gap: 1rem; */
}
.footer .social .icon:hover {
  color: var(--bg-color);
  transform: translateX(-4px);
  background-color: var(--main-color);
}
.copyright p {
  padding: 20px;
  font-size: 15px;
  color: #979797;
  text-align: center;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: rgb(219, 219, 219);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background: #ffa343;
  border-radius: 8px;
}

/* Responsiveness Section*/

@media (max-width: 1700px) {
  header {
    padding: 18px 8%;
  }
  section {
    padding: 50px 8% 40px;
  }
}

@media (max-width: 1200px) {
  header {
    padding: 14px 5%;
  }
  section {
    padding: 45px 5% 35px;
  }
  :root {
    --h1-font: 4.6rem;
    --h2-font: 2.8rem;
    --p-font: 15px;
  }
  .homes {
    height: 90vh;
  }
}

@media (max-width: 1050px) {
  .feature-content {
    gap: 1.5rem;
  }
  .holiday {
    gap: 3rem;
  }
  .culture {
    gap: 3rem;
  }
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    width: 100%;
    height: 100vh;
    padding: 40px 60px;
    top: 0;
    bottom: 0;
    left: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    transition: all 0.5s ease;
  }
  .navbar.open {
    left: 0;
  }

  .navbar .Link {
    display: block;
    color: #979797;
    padding: 0;
    margin: 0px 0px 40px 0px;
    font-size: 2.2rem;
    font-weight: 400;
  }
  .Link:hover {
    color: var(--main-color);
  }
}

@media (max-width: 800px) {
  .holiday {
    grid-template-columns: 1fr;
  }
  .culture {
    grid-template-columns: 1fr;
  }
  .newsletter-content {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 655px) {
  :root {
    --h1-font: 3.5rem;
    --h2-font: 2.1rem;
  }
  .homes {
    height: 85vh;
  }
  .footer {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
  }
  .social {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

@media (max-width: 450px) {
  header {
    padding: 12px 3%;
  }
  section {
    padding: 60px 3% 50px;
  }
}
